/*
Var
*/
$black: #010000;
$white: #ffffff;
$lightGrey: #E6E6E6;
$darkGrey: #333;
$red: #FF1755;
$mandarin: #F1AD0C;
$fireRed: #DA0000;
$murkyGreen: #A5FF8E;

/*
Mixins
*/
@mixin translateY ($e) {
  -webkit-transform: translateY($e);
      -moz-transform: translateY($e);
                transform: translateY($e);
}

@mixin translation ($e) {
  -webkit-translation: $e;
      -moz-translation: $e;
                 transition: $e;
}

@mixin getHeights($key: 0){
  @if $key == 1 { height: 75%; }
  @else if $key == 2 { height: 50%; }
  @else if $key == 3 { height: 25%; }
  @else {   height: 100%;   }
}

@mixin boundaries($isHeader: true){
    @if $isHeader == true {
      position: relative;
      height: 15vh;
    }
    @else {
      position: fixed;
      bottom: 0px;
      height: 5vh;
    }
    display: block;
    width: 100%;
    background-color: $mandarin;
}

/*
Fonts -
  regular 400
  regular 400 Italic
  bold 700
  bold 700 Italic
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  @include translation(.5s ease-in-out);
  cursor: pointer;
   &:hover {
     color: $red;
     @include translation(.4s ease-in-out);
   }
}

.container-fluid {
  line-height: 24px;
}
