
@import "_config.scss";

/* General*/
body {
    min-width: 673px;
}

header {
  @include boundaries(true);

 .logo {
    position: absolute;
    top:50%; left: 15px;
    height:100%;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    /*position: absolute;
    top: 50%; right: 50%;
    @include translateY(-50%);*/

    ul li {
      list-style-type: none;
      display: inline-block;

      &.last {
        margin: 0;
      }

      a {
        font-size: 3em;
        line-height: normal;
        color: $fireRed;
        font-weight: bold;
        margin: 0 20px 0 20px;
      }
    }
  }

}

footer {
  @include boundaries(false);
  .sign-name {
    font-size: 1.2em;
    color: $black;
    a {
      color: $red !important;
    }
  }
}
